:root {
    /* Primary Colours */
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    /* Neutral Colours */
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);
}

@font-face {
    font-family: "TheFont";
    src: url("./assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "TheFont", sans-serif;
    background-color: var(--green-200);
    color: var(--grey-900);
    font-weight: bold;
}

.confirmationPopup {
    background-color: var(--grey-900);
    width: fit-content;
    color: var(--white);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.successTick {
    padding-right: 10px;
}

.successHeader {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.successPara {
    color: var(--green-200)
}

.formBox {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    border-radius: 15px;
    width: 45vw;
    background-color: var(--white);
}

.mainHeading {
    color: var(--grey-900);
    padding-bottom: 15px;
}

span {
    color: var(--green-900)
}

.label {
    display: block;
    margin-bottom: 10px;
}

.nameInputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.firstNameInput {
    width: 50%
}

#firstName {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--grey-500);
    outline: none;
}

.lastNameInput {
    width: 50%
}

#lastName {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--grey-500);
    outline: none;
}

.emailInput {
    width: 100%;
}

.emailPhysicalInput {
    width: 100%;
}

#emailAddress {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--grey-500);
    outline: none;
}

.queryTypes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.queryInputs {
    display: flex;
    gap: 10px;
    width: 100%
}

.generalEnquiry, .supportRequest {
    display: flex;
    border: 1px solid var(--grey-500);
    padding: 10px;
    padding-left: 15px;
    border-radius: 5px;
    width: 50%;
}

.geInput {
    margin-right: 10px;
}

.messageInput {
    resize: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.messageDiv {
    display: flex;
    flex-direction: column;
}

.consent {
    margin-right: 10px;
}

.consentButton {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.submit {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--green-600);
    color: var(--white);
    font-family: "TheFont", sans-serif;
}