:root {
    /* Primary Colours */
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    /* Neutral Colours */
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);
}

@font-face {
    font-family: "TheFont";
    src: url("./assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "TheFont", sans-serif;
    background-color: var(--green-200);
}

.confirmationPopup {
    background-color: var(--grey-900);
    width: fit-content;
    color: var(--white);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.successTick {
    padding-right: 10px;
}

.successHeader {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.successPara {
    color: var(--green-200)
}

.formBox {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    border-radius: 15px;
    width: 45vw;
    background-color: var(--white);
}

/* .mainHeading {
    color: var(--grey-900);
} */

.nameInputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.firstNameInput {
    width: 50%
}

#firstName {
    width: 100%;
}

.lastNameInput {
    width: 50%
}

#lastName {
    width: 100%;
}

.queryTypes {
    display: flex;
}

.messageInput {
    resize: none;
}

.messageDiv {
    display: flex;
    flex-direction: column;
}